<body>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Search by github username or public email</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-user-input (submitForm)="submitForm($event)"></app-user-input>
  <div *ngIf="foundUser; else showUserList">
    <app-repo-list *ngIf="username" [username]="username"></app-repo-list>
    <app-error [msg]="err"></app-error>
  </div>
  <ng-template #showUserList>
    <app-user-list *ngIf="username" [username]="username" (foundUser)="getRepoFor($event)"></app-user-list>
    <app-error [msg]="err"></app-error>
  </ng-template>

</body>