/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-form-field{
  display: block;
  width: 80%;
  text-align: center;
  margin-left: 80px;
  margin-right: 10px;
}

.mat-form-field-flex{
  text-align: center;
}

.body-2{
 text-decoration: underline;
 font-weight: 900;
 font-style: italic;   
}
